[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geotiff = "*"
numpy = "*"
matplotlib = "*"
imagecodecs = "*"
pyqt5 = "*"
python-srtm = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
